{{!-- View all guest answers page --}}
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>View All Answers</h2>
            <p class="pull-right">Total Answers: <span id="answer-count">{{answers.length}}</span></p>
            <hr>
          {{#if answers}}
            {{#answers}}
            <div class="panel panel-info panel-answer">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-user"></span>&nbsp; Guest ip: {{this.ipAddress}}</h3>
                </div>
                <div class="panel-body">
                    <p>*{{this.question}}</p>
                    <p class="text-warning">{{this.answer}}</p>
                </div>
            </div>
            {{/answers}}
          {{else}}
            <div class="well">
                <p class="text-warning">There are no answers in the system!</p>
            </div>
          {{/if}}
          <span data-sumome-listbuilder-embed-id="88619b14c041d69878cbdc7cd5ed0fba7061061f3fafbeb51d2bd86596855890"></span>
        </div>
    </div>
</div>